.titulo1 {
    color: black;
    background-color: rgb(204, 204, 204);
    text-align: center;
    font-size: xx-large;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    padding-top: 50px; 
    padding-bottom: 50px;
    width: 1200px;
    margin-top: 100px;
    margin-left: 350px;
}

.body1 {
    background-image: linear-gradient(180deg,rgb(194, 0, 0),rgb(0, 0, 0));
    font-style: inherit;
    color: black;
}

.inicio {
    border-bottom: 4px;
    border-color: black;
    border-style:none;
    border-bottom-style: solid;
    padding-bottom: 4px;
    padding-top: 450px;
}

.call {
    height: 425px;
    width: 350px;
    margin-left: 180px; 
}

.war {
    height: 425px;
    width: 350px;
    margin-left: 40px;
}

.mine {
    height: 425px;
    width: 350px;
    margin-left: 40px;
}

.enlis {
    height: 425px;
    width: 350px;
    margin-left: 40px;
}

.config {
    height: 50px;
    width: 80px; 
    position: absolute;
    top: 10px;
    right: 0px;
}

.logo {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 140px;
    left: 1050px;
}

.barrapesquisa {
    position: absolute;
    top: 450px;
    left: 875px;
}

.CallofDuty {
    position: absolute;
    top: 450px;
    left: 875px;
}

.Enlisted {
    position: absolute;
    top: 450px;
    left: 875px;
}

.Warthunder {
    position: absolute;
    top: 450px;
    left: 875px;
}

.minecraft {
    position: absolute;
    top: 450px;
    left: 875px;
}

.titulo2 {
    text-align: center;
    font-size: x-large;
    background-color: rgb(204, 204, 204);
    border-color: black;
    padding-bottom: 30px;
}

.body2 {
    background-color: white;
    font-style: inherit;
}