.titulo1 {
    color: black;
    background-color: rgb(172, 172, 172);
    text-align: center;
    border-style:groove;
    border-radius: 25px;
    border-color: black;
}

.body1 {
    background-image: linear-gradient(180deg,rgb(194, 0, 0),rgb(0, 0, 0));
    font-style: inherit;
    color: black;
}

.inicio {
    border-bottom: 4px;
    border-color: black;
    border-style:none;
    border-bottom-style: solid;
    padding-bottom: 4px;
    padding-top: 450px;
}

.call {
    height: 550px;
    width: 473px;
}

.war {
    height: 550px;
    width: 473px;
}

.mine {
    height: 550px;
    width: 473px;
}

.enlis {
    height: 550px;
    width: 473px;
}

.config {
    height: 50px;
    width: 80px; 
    position: absolute;
    top: 20px;
    right: 0px;
}

.titulo2 {
    text-align: center;
    background-color:  rgb(172, 172, 172);
    border-color: black;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.body2 {
    background-color: white;
    font-style: inherit;
}